{% extends 'homepage.html' %}
{% block title %} View Product Ad{% endblock%}

{% block body %}
<div>
    <div class="col-3"><image width="300" src={{product.s3_image_url}}></image></div>
    <div class="col-5">
        <P>product_id:{{product.product_id}}</P>
        <P>Title :{{product.title}}</P>
        <P>Category:{{product.product_category.category_name}}</P>
        <P>Description:{{product.description}}</P>
        <P>Price:{{product.price}}</P>
        <P>Avaialble From:{{product.available_from}}</P>
        <P>Available To:{{product.available_to}}</P>
        {%if product.s3_video_url !='' %}
        <P>Video: <video width="300" controls>
          <source src={{product.s3_video_url}} type="video/mp4">
          
          Your browser does not support HTML video.
        </video></P>
        {%endif%}
       


    </div>
    {% if session.current_user_name =="admin" %}
                  <input type="submit" id="approve_ad_button"  value="Approve"/>
    {% else %}
           <button type="button" class="btn btn-info btn-lg" id="rent_button">Rent Now</button>
    {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="rent_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         <h4 class="modal-title">Rent Now</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <form action="/api/rent-product" method="POST" id="form_rent">
            <div class="modal-body">
           
                <p>Product : {{product.title}}</p>
                <p>price : <span>{{product.price}}</span></p>
                <p>Avaiable From : {{product.available_from.strftime('%m-%d-%Y')}}</p>
                <p>Avaiable To : {{product.available_to.strftime('%m-%d-%Y')}}</p>
                <p>Rent from : <input type="text" id="datepicker_from"  name="datepicker_from"></p>
                <p>Rent To : <input type="text" id="datepicker_to"  name="datepicker_to"></p>
                <p>Total Price : <span id="total_price">0.00 <span>$</span></span></p>
                <input type="hidden" id="available_from_date" name="available_from_date" value={{product.available_from}}/>
                <input type="hidden" id="available_to_date"  name="available_to_date" value={{product.available_to}}/>
                <input type="hidden" id="price" name="price" value={{product.price}} />
                <input type="hidden" id="total" name="total" />
            
            </div>
       
            <div class="modal-footer">
           
                <input type="hidden" value={{product.product_id}} id="product_id" name="product_id" ></input></P>
                
                  <input type="submit" id="modal_rent_button"  value="Rent Now"/>
               
            
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
      
    </div>
  
  
</div>
    
</div>

{% endblock %}
